TYPEORM_CONNECTION = mysql
TYPEORM_HOST = localhost
TYPEORM_USERNAME = <username_goes_here>
TYPEORM_PASSWORD = <password_goes_gere>
TYPEORM_DATABASE = <dbname_goes_gere>
TYPEORM_PORT = <port_goes_here>
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_ENTITIES = server/entities/**/*.ts
TYPEORM_ENTITIES_DIR = server/entities
